<template>
  <div class="g-wrapper">
    <div class="g-main">
      <Profile :profile="profiles[0]"/>
      <Comment
        v-for="(comment, commentIndex) in profiles[0].comments"
        :key="commentIndex"
        :comment="comment"
      />
    </div>
    <AddComment />
  </div>
</template>

<script>
import { mapState } from 'vuex';

import Profile from './components/Profile';
import Comment from './components/Comment';
import AddComment from './components/AddComment';

export default {
  name: 'TheLanding',

  components: {
    Profile,
    Comment,
    AddComment,
  },

  computed: {
    ...mapState([
      'profiles',
    ]),
  },
};
</script>
