* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  color: #333;
}

textarea {
  vertical-align: middle;
  resize: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.g-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.g-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.g-main {
  flex: 5 0 auto;
}

.g-button {
  border-radius: 50px;
  display: inline-block;
  user-select: none;
  text-align: center;
  font: inherit;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
}
