<template>
  <div class="add-comment">
    <div class="g-container">
      <form
        class="add-comment__form"
        @submit.prevent="sendComment"
      >
        <textarea
          v-validate="'required'"
          v-model="commentText"
          class="add-comment__textarea"
          @keyup.13.ctrl="sendComment"

        />
        <button
          type="submit"
          class="g-button add-comment__button"
        >
          Написать консультанту
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import moment from 'moment';

export default {
  name: 'AddComment',

  data: () => ({
    commentText: '',
    comment: {},
    month: '',
    newDate: new Date(),
  }),

  methods: {
    ...mapActions([
      'addComment',
    ]),

    getMonth() {
      switch (this.newDate.getMonth()) {
        case 0: this.month = 'января';
          break;
        case 1: this.month = 'февраля';
          break;
        case 2: this.month = 'марта';
          break;
        case 3: this.month = 'апреля';
          break;
        case 4: this.month = 'мая';
          break;
        case 5: this.month = 'июня';
          break;
        case 6: this.month = 'июля';
          break;
        case 7: this.month = 'августа';
          break;
        case 8: this.month = 'сентября';
          break;
        case 9: this.month = 'октября';
          break;
        case 10: this.month = 'ноября';
          break;
        case 11: this.month = 'декабря';
          break;
        default:
          break;
      }
    },

    sendComment() {
      this.$validator.validateAll()
        .then((isValid) => {
          if (!isValid) return;
          this.getMonth();
          this.comment.authorName = 'Аноним';
          this.comment.date = moment().format(`DD ${this.month} Y`);
          this.comment.text = this.commentText;
          this.addComment(this.comment);
          this.commentText = '';
        });
    },
  },
};
</script>

<style lang="scss">
  .add-comment {
    background-color: #f2f2f2;
    text-align: center;

    &__form {
      padding: 40px 20px 35px;
    }

    &__textarea {
      border: 1px solid #a9a9a9;
      outline: none;
      width: 100%;
      min-height: 65px;
      padding: 5px;
    }

    &__button {
      margin-top: 25px;
      padding: 15px 60px;
      border: none;
      border-radius: 50px;
      color: #333;
      background-color: #fdd639;
      font-size: 16px;
      transition: transform 0.3s ease;

      @media screen and (max-width: 400px) {
        padding: 15px 30px;
      }

      &:hover,
      :target {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(1);
      }
    }
  }
</style>
