<template>
  <div class="g-container comment">
    <span class="comment__author">
      {{ comment.authorName }} {{ comment.authorSurname }}
    </span>
    <span class="comment__date">
      {{ comment.date }}
    </span>
    <div class="comment__text">
      {{ comment.text }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Comment',

  props: {
    comment: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style lang="scss">
  .comment {
    width: 100%;
    padding: 0 20px 20px;
    font-size: 14px;

    &__author {
      margin-right: 10px;
      font-weight: 700;
    }

    &__date {
      font-size: 11px;
      color: #808080;
    }

    &__text {
      margin-top: 15px;
      border: 1px solid #cfcfcf;
      background-color: #f2fbff;
      padding: 20px 20px 15px;
      word-wrap: break-word;
    }
  }
</style>
