<template>
  <div class="g-container profile">
    <div class="profile__info">
      <div class="profile__avatar-container">
        <img
          :title="profile.name"
          class="profile__avatar"
          src="@images/avatar.png"
        >
      </div>
      <div>
        <div class="profile__name">
          {{ profile.name }} {{ profile.surname }}
        </div>
        <div class="profile__position">
          {{ profile.position }}
        </div>
        <div class="profile__description">
          {{ profile.description }}
        </div>
      </div>
    </div>
    <div class="profile__services">
      <div class="profile__services-title">
        Услуги
      </div>
      <div class="profile__services-wrapper">
        <div
          v-for="(service, serviceIndex) in profile.services"
          :key="serviceIndex"
          class="profile__services-item"
        >
          <div
            :class="{
              'profile__services-name--high-level': service.amount > 10,
              'profile__services-name--middle-level': service.amount > 2 & service.amount < 4,
              'profile__services-name--low-level': service.amount > 0 && service.amount < 2
            }"
            class="profile__services-name"
          >
            {{ service.name }}
          </div>
          <div class="profile__services-amount">
            {{ service.amount }}
          </div>
        </div>
      </div>
      <div class="profile__services-all">
        <div>Всего</div>
        <div>15</div>
      </div>
    </div>

    <div class="profile__comments">
      <div>
        <span class="profile__comments-title">
          <b>Последние отзывы</b>
        </span>
        <a
          href="#"
          class="profile__comments-link"
        >
          Все отзывы
        </a>
      </div>
      <div class="profile__comments-amount">
        <span class="profile__comments-amount-item">
          <i class="profile__icon fas fa-heart"/>
          131
        </span>
        <span class="profile__comments-amount-item">
          <i class="profile__icon fas fa-comment-alt"/>
          14
        </span>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'Profile',

  props: {
    profile: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style lang="scss">
  .profile {
    padding: 15px 20px;

    &__info {
      display: flex;
    }

    &__avatar-container {
      position: relative;
      z-index: 100;
      display: flex;
      justify-content: center;
      min-width: 120px;
      height: 120px;
      border-radius: 50%;
      margin-right: 10px;
      overflow: hidden;
    }

    &__avatar {
      position: absolute;
      min-width: 180%;
      top: 65%;
      left: 30%;
      transform: translate(-50%, -50%);
    }

    &__name {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    &__position {
      font-size: 12px;
      color: #808080;
      margin-bottom: 10px;
    }

    &__description {
      font-size: 14px;
      padding: 15px 15px 15px 50px;
      margin-left: -50px;
      background-color: #fffbc8;
      border: 1px solid #cecabf;
      border-radius: 5px;
    }

    &__services {
      padding-left: 130px;
      text-align: end;
      width: 100%;
      font-size: 13px;

      @media screen and (max-width: 360px) {
        padding-left: 0;
      }
    }

    &__services-wrapper {
      margin: 15px 0;
      border-left: 1px solid #b2b2b2;
    }

    &__services-title {
      border-bottom: 1px solid #ccc;
      padding: 10px 35px;
    }

    &__services-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 45px;
      margin-bottom: 2px;
      z-index: 100;
      font-weight: 700;
    }

    &__services-name {
      padding: 6px 10px 8px;
      align-self: start;
      font-weight: 400;

      &::before {
        content: "";
        position: absolute;
        left: -1px;
        top: 0;
        bottom: 0;
        opacity: 0.7;
        z-index: -1;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &--high-level {
        &::before {
          background-color: #b1e19b;
          right: 30%;
        }
      }

      &--middle-level {
        &::before {
          background-color: #ace3f8;
          right: 80%;
        }
      }

      &--low-level {
        &::before {
          background-color: #ace2f8;
          right: 90%;
        }
      }
    }

    &__services-all {
      display: flex;
      justify-content: space-between;
      padding: 15px 45px 15px 0;
      margin-bottom: 15px;
      border-top: 1px solid #ccc;
      font-weight: 700;
      font-size: 16px;
    }

    &__comments {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 420px) {
        display: block;
      }
    }

    &__comments-link {
      color: #005da1;
    }

    &__comments-amount {
      font-size: 12px;
    }

    &__icon {
      margin-left: 20px;
      color: #73b4d5;
    }
  }
</style>
