<template>
  <TheLanding />
</template>

<script>
import TheLanding from '@pages/TheLanding';

export default {
  name: 'App',

  components: {
    TheLanding,
  },
};
</script>

<style lang="scss">
@import "~@global/scss/global";
</style>
